  .slider-wrapper{
    position: absolute;
    top: 10%;
    right:0%;
    margin: 0;
    padding: 0;
    width: calc(100vw);
  }

  .slick-initialized { overflow: hidden; }

  .slider-img{
    object-fit: contain;
    width:calc(90vw);
  }