  .team-wrapper {
    height: 2600px;
    width: 100%;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    background-color: #fff;
    .team-header-wrapper {
      display: fixed;
      z-index: 100;
      margin-top: 0px;
      width: 100%;
      height: 56px;
    }
    .team-slider-wrapper {
      height: calc(60vh);
    }
    .team-content-rectangle {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
    }
    .team-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 900px;
      background-color: #ffffff;
      .team-content-actcard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        background-color: #f4f4f5;
        width: 90%;
        height: 260px;
        img {
          width: 100%;
          height:auto;
        }
        .actcard-title {
          width: 100%;
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        .actcard-desc {
          font-size: 9px;
          width: 90%;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
     
      & > img {
        margin: 10px 0;
        height: 1px;
      }
    }

    .c-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 560px;
      background-color: #f4f4f5;
      .c-content-act{
        width: 100%;
        display: flex;   
        flex-direction: column;
        align-items: center;
      }
    }

    .team-footer-wrapper {
      display: flex;
      width: 100%;
      height: 800px;
    }
  }
