@media (min-width: 768px) {
  .list-wrapper {
    height: 900px;
    width: 70%;
    padding: 20px 30px 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#FAFCFF;
    .list-item-wrapper {
      background-color: #ffffff;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: 200px;
      padding: 20px 10px 20px 10px;
      .list-item-title {
        display: flex;
        width: 100%;
      }
      .list-item-summary{
        display: flex;
      }
      .list-item-group{
        display: flex;
        padding-right: 5px;
        color: #858585;
      }
      .list-item-author{
        width: 90%;
        display: flex;
        color: #858585;
      }
      .list-item-time{
        display: flex;
        align-self: flex-end;
        color: #858585;
      }
      .list-item-img{
        display: flex;
        align-self: flex-end;
        width: 200px;
        height: 200px;
        background-color: #858585;
      }
    }
  }
}
