@media (min-width: 768px) {
  .list-wrapper {
    height: 600px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    .list-item-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: 100px;
      padding: 0 10px 0 10px;
      .list-item-title {
        display: flex;
        width: 100%;
      }
    }
  }
}
