@media (min-width: 768px) {
  .product-wrapper {
    height: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fafcff;
    .product-header-wrapper {
      display: fixed;
      margin-top: 0px;
      width: 100%;
      height: 70px;
    }
    .product-content-wrapper1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 900px;
      background-color: #fafafa;
      .product-content-left-wrapper {
        display: flex;
        width: 50%;
        height: 900px;
        padding-left: 5%;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .product-content-logo {
          display: flex;
          width: 80%;
          height: 400px;
        }
        .product-content-description {
          display: flex;
          height: 10%;
          width: 70%;
          font-size: 25px;
        }
        .product-content-button1 {
          display: flex;
          width: 300px;
          padding-bottom: 200px;
          .bold-btn {
            font-size: 20px;
            width: 200px;
            height: 50px;
          }
        }
        .product-content-button2 {
          display: flex;
          width: 300px;
          padding-bottom: 200px;
          .bold-btn {
            font-size: 20px;
            width: 200px;
            height: 50px;
          }
        }
        .product-content-example {
          display: flex;
          width: 25%;
          height: 700px;
        }
      }
    }
    .product-content-wrapper2 {
      display: flex;
      width: 100%;
      height: 900px;
      background-color: #fafafa;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .product-content-left-wrapper {
        padding-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 50%;
        .product-content-logo {
          display: flex;
          width: 60%;
          height: 400px;
          padding-bottom: 50px;
        }
        .product-content-description {
          display: flex;
          height: 30%;
          width: 70%;
          padding-left: 50px;
          font-size: 25px;
          padding-bottom: 300px;
        }
      }
      .product-content-example {
        display: flex;
        width: 40%;
        height: 800px;
      }
    }
    .product-content-wrapper3 {
      display: flex;
      width: 100%;
      height: 900px;
      background-color: #fafafa;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .product-content-left-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 50%;
        padding-top: 200px;
        .product-content-logo {
          display: flex;
          width: 60%;
          height: 450px;
          padding-bottom: 50px;
        }
        .product-content-description {
          display: flex;
          height: 30%;
          width: 70%;
          padding-left: 50px;
          font-size: 25px;
          padding-bottom: 300px;
        }
      }
      .product-content-example {
        display: flex;
        width: 30%;
        height: 400px;
      }
    }
    .product-content-wrapper4 {
      display: flex;
      width: 100%;
      height: 900px;
      background-color: #fafafa;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .product-content-left-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 50%;
        .product-content-logo {
          display: flex;
          width: 60%;
          height: 350px;
          padding-bottom: 50px;
        }
        .product-content-description {
          display: flex;
          height: 30%;
          width: 70%;
          padding-left: 50px;
          font-size: 25px;
          padding-bottom: 300px;
        }
      }
      .product-content-example {
        display: flex;
        width: 35%;
        height: 700px;
      }
    }
  }
}
