@media (min-width: 768px) {
  .slider-wrapper {
    margin: 0;
    padding: 0;
    width: calc(100vw);
    position: relative;
  }

  .slick-initialized {
    overflow: hidden;
  }

  .slider-img {
    height: 85vh;
  }

  .team-slider-content {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250, 252, 255);
  }

  .slider-arrow {
    width: 20px;
    position: absolute;
    top: 50%;
  }

  .slider-left-arrow {
    right: 100px;
    transform: translateY(-50%);
  }

  .slider-right-arrow {
    left: 100px;
    transform: translateY(-50%) rotateY(180deg);
  }
}
