.team-act-wrapper_s{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  height: 320px;
  .team-act-img_s{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .team-act-text_s{
    display: flex;
    width: 100%;
    height: 240px;
    flex-direction: column;
    .team-act-text-area{
      width: 100%;
    }
  }
}