@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

@function pi() {
  @return 3.14159265359;
}


@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

body {
  font-family: "Lato";
  background: #EFECCA;
  color: #1d1d1d;
  margin: 0;
  padding: 0;
}

$side-length: 20px;
$side-width: 6px;
$side-color: #046380;
$loader-size: 20px * (1 + 1.414);

$anim-duration: 1.5s;
$anim-offset: 0;
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $loader-size;
  height: $loader-size;
  margin-left: $loader-size / -2;
  margin-top: $loader-size / -2;
  border-radius: 100%;
  animation-name: loader;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 4s;
  .side {
    display: block;
    width: $side-width;
    height: $side-length;
    background-color: $side-color;
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    animation-duration: $anim-duration;
    animation-iteration-count: infinite;
    animation-timing-function: ease;&:nth-child(1), &:nth-child(5) {
      transform: rotate(0deg);
      animation-name: rotate0;
    }&:nth-child(3), &:nth-child(7) {
      transform: rotate(90deg);
      animation-name: rotate90;
    }&:nth-child(2), &:nth-child(6) {
      transform: rotate(45deg);
      animation-name: rotate45;
    }&:nth-child(4), &:nth-child(8) {
      transform: rotate(135deg);
      animation-name: rotate135;
    }
  }

  @for $count from 0 through 7 {
    .side:nth-child(n + 1) {
      $side-offset: $side-width / 2 * $count;
      $dotval: $loader-size / 2;

      top: sin(45deg * $count) * $dotval + $dotval;
      left: cos(45deg * $count) * $dotval + $dotval;
      margin-left: $side-width / -2;
      margin-top: $side-length / -2;
      animation-delay: $anim-offset * $count;
    }
  }
}


@-webkit-keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }60% {
    transform: rotate(180deg);
  }100% {
    transform: rotate(180deg);
  }
}


@-moz-keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }60% {
    transform: rotate(180deg);
  }100% {
    transform: rotate(180deg);
  }
}


@-ms-keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }60% {
    transform: rotate(180deg);
  }100% {
    transform: rotate(180deg);
  }
}


@-o-keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }60% {
    transform: rotate(180deg);
  }100% {
    transform: rotate(180deg);
  }
}


@keyframes rotate0 {
  0% {
    transform: rotate(0deg);
  }60% {
    transform: rotate(180deg);
  }100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }60% {
    transform: rotate(270deg);
  }100% {
    transform: rotate(270deg);
  }
}

@-moz-keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }60% {
    transform: rotate(270deg);
  }100% {
    transform: rotate(270deg);
  }
}

@-ms-keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }60% {
    transform: rotate(270deg);
  }100% {
    transform: rotate(270deg);
  }
}

@-o-keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }60% {
    transform: rotate(270deg);
  }100% {
    transform: rotate(270deg);
  }
}

@keyframes rotate90 {
  0% {
    transform: rotate(90deg);
  }60% {
    transform: rotate(270deg);
  }100% {
    transform: rotate(270deg);
  }
}

@-webkit-keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }60% {
    transform: rotate(225deg);
  }100% {
    transform: rotate(225deg);
  }
}

@-moz-keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }60% {
    transform: rotate(225deg);
  }100% {
    transform: rotate(225deg);
  }
}

@-ms-keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }60% {
    transform: rotate(225deg);
  }100% {
    transform: rotate(225deg);
  }
}

@-o-keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }60% {
    transform: rotate(225deg);
  }100% {
    transform: rotate(225deg);
  }
}

@keyframes rotate45 {
  0% {
    transform: rotate(45deg);
  }60% {
    transform: rotate(225deg);
  }100% {
    transform: rotate(225deg);
  }
}

@-webkit-keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }60% {
    transform: rotate(315deg);
  }100% {
    transform: rotate(315deg);
  }
}

@-moz-keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }60% {
    transform: rotate(315deg);
  }100% {
    transform: rotate(315deg);
  }
}

@-ms-keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }60% {
    transform: rotate(315deg);
  }100% {
    transform: rotate(315deg);
  }
}

@-o-keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }60% {
    transform: rotate(315deg);
  }100% {
    transform: rotate(315deg);
  }
}

@keyframes rotate135 {
  0% {
    transform: rotate(135deg);
  }60% {
    transform: rotate(315deg);
  }100% {
    transform: rotate(315deg);
  }
}


@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}


@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}


@-ms-keyframes loader {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}


@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}
