.team-act-wrapper {
  width: 80%;
  height: 270px;
  margin: 85px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  .team-act-img {
    height: 270px;
    border-radius: 8px;
    margin-right: 20px;
  }
  .team-act-text {
    display: flex;
    height: 100%;
    flex-direction: column;
    .team-act-time {
      letter-spacing: 1.2px;
      margin-bottom: 10px;
      font-size: calc(1.1vw);
      color: #808388;
    }
    .team-act-title {
      font-size: calc(2vw);
      font-weight: 500;
      letter-spacing: 1px;
    }
    .team-act-decs {
      margin-top: 10px;
      font-size: calc(1vw);
      letter-spacing: 0.8px;
      line-height: calc(1.5vw);
      white-space: pre;
      color: #3e4042;
    }

    .team-act-author {
      margin-top: 20px;
      font-size: calc(1vw);
      letter-spacing: 0.8px;
      line-height: calc(1.5vw);
      color: #3e4042;
    }
  }
}
