@media (max-width: 767px) {
  .home-ach {
    width: 76%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-top: 40px;
    .home-ach-item {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & > img {
        width: 40px;
      }
    }
  }
}

@media(min-width: 768px) {
  .home-ach {
    width: 550px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 180px;
    .home-ach-item {
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & > img {
        width: 40px;
      }
    }
  }
}