@media (max-width: 767px){
  .home-pages-container {
    padding-top: 52px;
  }

  .ncuhome-header{
    position: fixed;
    z-index: 1000;
  }
  
}
@media (min-width: 768px) {
  .ncuhome-header{
    position: fixed;
    z-index: 1000;
  }
  .home-content-limit {
    margin-left: 160px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 28px 0 0 66px;
    overflow: hidden;
  }
}
