@media (min-width: 768px) {
  body {
    overflow: auto;
  }
  .product-wrapper-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fafcff;
    .product-content-wrapper {
      width: 100%;
      min-height: calc(100vh - 57px);
      background-color: red;
      display: flex;
      flex-direction: row;
      background-color: #fafafa;
      .product-content-left {
        flex: 14;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product-content-logo {
          object-fit: contain;
          display: flex;
        }
        .product-content-description {
          width: 60%;
          margin-top: 85px;
          text-justify: inter-ideograph;
          font-size: 25px;
          line-height: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .bold {
            font-weight: 450;
          }

          .description-incu-btn-container {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            button {
              width: 200px;
              height: 50px;
              margin: 0 35px;
              border: 2px solid black;
              border-radius: 18px;
              background-color: #fff;
              letter-spacing: 3px;
              color: #353535;
              font-size: 20px;
              font-weight: bold;
              line-height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: color 0.3s ease, border-color 0.2s ease;
            }

            button:hover {
              color: #1b8ff4;
              border-color: #1b8ff4;
            }
          }
        }
      }
      .product-content-example-container {
        object-fit: contain;
        flex: 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .product-games {
      width: 100%;
      height: calc(100vh - 57px);
      display: flex;
      position: relative;

      .product-games-title {
        font-size: 45px;
        margin-bottom: 120px;
        color: #707070;
        position: absolute;
        left: 70px;
        top: 60px;
      }

      .game-description {
        flex: 6;
        padding: 225px 0 0 70px;
        position: relative;

        .game-name {
          margin-bottom: 30px;
          color: #fafafa;
          font-size: 75px;
        }

        .game-description-content {
          width: 70%;
          padding-bottom: 100px;
          color: white;
          font-size: 20px;
          text-align: justify;
          line-height: 25px;
        }

        .game-change-btn {
          height: auto;
          background-color: #1b8ff4;
          border: none;
          color: white;
          padding: 17px 50px;
          border-radius: 25px;
          transition: color 0.2s ease;
          transform: translateX(-50%);
          position: absolute;
          bottom: 15vh;
          left: 50%;
        }

        .game-change-btn:hover {
          color: black;
        }
      }

      .game-preview {
        flex: 4;

        img {
          height: 100%;
          object-fit: cover;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .visible,
  .invisible {
    transition: all 0.8s ease-out;
  }
  [fade-in-up].visible {
    opacity: 1;
  }
  [fade-in-up].invisible {
    opacity: 0;
    transform: translateY(80px);
  }
}
