@media (min-width: 768px) {
  body {
    overflow: auto;
  }
  .product-wrapper-b {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fafcff;
    .product-content-wrapper {
      width: 100%;
      height: calc(100vh - 57px);
      background-color: red;
      display: flex;
      flex-direction: row;
      background-color: #fafafa;
      .product-content-left {
        flex: 14;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .product-content-logo {
          width: 68%;
          height: 400px;
          object-fit: contain;
          display: flex;
        }
        .product-content-description {
          font-size: 25px;
          line-height: 30px;

          .description-incu-btn-container {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            button {
              width: 200px;
              height: 50px;
              margin: 0 35px;
              border: 2px solid black;
              border-radius: 18px;
              background-color: #fff;
              letter-spacing: 3px;
              color: #353535;
              font-size: 20px;
              font-weight: bold;
              line-height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: color 0.3s ease, border-color 0.2s ease;
            }

            button:hover {
              color: #1b8ff4;
              border-color: #1b8ff4;
            }
          }
        }
      }
      .product-content-example-container {
        object-fit: contain;
        flex: 10;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .product-content-wrapper5-b {
      display: flex;
      width: 100%;
      height: 900px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: space-between;
      justify-content: center;
      transition: all 1s;
      .product-content-left-wrapper-b {
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        display: flex;
        width: 50%;
        height: 100%;
        .product-content-gameTitle-b {
          height: 10%;
          font-size: 45px;
          margin-left: 70px;
          margin-top: 60px;
          margin-bottom: 120px;
          color: #707070;
        }
        .product-content-gameName-b {
          display: flex;
          font-size: 75px;
          color: #fafafa;
          width: 60%;
          height: 20%;
          margin-bottom: 30px;
          margin-left: 70px;
        }
        .product-content-description-b {
          color: white;
          height: 40%;
          width: 70%;
          margin-left: 70px;
          font-size: 20px;
          padding-bottom: 100px;
        }
        .product-content-buttonArea-b {
          height: 30%;
          padding-bottom: 270px;
        }
        .product-content-changeButton-b {
          height: auto;
          display: flex;
          color: white;
          background-color: #1b8ff4;
          margin-left: 360px;
          padding: 17px 50px;
          border-radius: 25px;
          cursor: pointer;
          transition: color 0.2s;
        }
        .product-content-changeButton-b:hover {
          height: auto;
          display: flex;
          color: black;
          background-color: #1b8ff4;
          margin-left: 360px;
          padding: 17px 50px;
          border-radius: 25px;
          cursor: pointer;
        }
      }
      .product-content-example-b {
        object-fit: cover;
        display: flex;
        width: auto;
        height: 100%;
      }
    }
  }

  .visible,
  .invisible {
    transition: all 0.8s ease-out;
  }
  [fade-in-up].visible {
    opacity: 1;
  }
  [fade-in-up].invisible {
    opacity: 0;
    transform: translateY(80px);
  }
}
