$primary-color: #1b8ff4;

.product-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fafcff;
  .product-header-wrapper {
    display: fixed;
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .product-content-wrapper0 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh);
    background-color: #fafafa;
    .product-content-logo {
      object-fit: contain;
      margin-top: 54px;
      display: flex;
      width: 40%;
      height: 320px;
    }
    .product-content-description {
      color: #fff;
      text-shadow: rgb(43, 43, 43) 0.1em 0.1em 0.2em;
      text-justify: inter-ideograph;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 70%;
    }
    .product-content-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      padding-bottom: 20px;
      .product-bold-btn {
        height: 40px;
        width: 60%;
        margin-bottom: 30px;
        background-color: #fafafa;
        border-radius: 18px;
        letter-spacing: 3px;
        box-shadow: rgb(80, 80, 80) 4px 4px 6px;
        color: #353535;
        text-shadow: grey 1px 1px 1px;
        font-size: 15px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .product-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh);
    background-color: #fafafa;
    .product-content-logo {
      object-fit: contain;
      display: flex;
      width: 40%;
      height: 30%;
      padding-top: 60px;
      // padding-bottom: 50px;
    }
    .product-content-description {
      color: white;
      text-shadow: rgb(43, 43, 43) 1px 1px 1px;
      text-justify: inter-ideograph;
      font-size: 15px;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 30%;
      width: 70%;
      font-size: 15px;
      padding-bottom: 200px;
      h2 {
        display: flex;
        letter-spacing: 5px;
        font-size: 30px;
        padding: 20%;
      }
      p {
        display: flex;
        margin: 5px;
      }
    }
  }

  .product-content-wrapper5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh);
    background-color: #fafafa;
    .product-content-logo {
      object-fit: contain;
      display: flex;
      width: 25%;
      height: 25%;
      margin-left: 20px;
      margin-top: 20px;
    }
    .product-content-description {
      color: white;
      text-shadow: rgb(43, 43, 43) 1px 1px 1px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -20px;
      height: 30%;
      width: 80%;
      font-size: 15px;
      line-height: 20px;
      h2 {
        white-space: nowrap;
        display: flex;
        letter-spacing: 5px;
        font-size: 30px;
        padding-bottom: 10%;
      }
      p {
        display: flex;
        margin: 5px;
      }
    }

    .product-content-changeButton {
      height: 1%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: none;
      background-color: $primary-color;
      padding: 17px 50px;
      border-radius: 25px;
      cursor: pointer;
      transition: color 0.2s;
    }
  }
}
