.hs-content-limit {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display:  flex;
  .hs-horizontal-content {
    display: flex;
    width: 5560px;
  }
}

@media (min-width: 768px) {
  .hs-body {
    height: calc(4950px + 100vh);
  }
}
