.hs-content-limit {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  .hs-horizontal-content {
    background-color: rgb(250, 252, 255);
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .hs-horizontal-content::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

@media (min-width: 768px) {
  .hs-body {
    height: calc(100vh - 56px);
    margin-top: 56px;
  }
}
