@media (min-width: 768px) {
  .home-team-wrapper {
    width: 1600px;
    height: 100%;
    display: flex;
    margin-left: 160px;

    .home-team-l-bg {
      width: 100%;
      height: calc(100% - 220px);
      margin: 130px 0 90px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
      .home-team-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        position: relative;
        top: 120px;
        & > img {
          width: 70px;
          height: 60px;
          position: relative;
          left: 620px;
          bottom: 100px;
        }
        .home-title {
          font-size: 70px;
          letter-spacing: 6px;
          font-weight: bold;
          margin-bottom: 50px;
          margin-top: 120px;
        }
        .home-team-desc {
          margin-bottom: 42px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & > p {
            font-size: 20px;
            margin-bottom: 16px;
            color: rgba(0, 0, 0, 0.85);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .home-team-wrapper {
    width: 100%;
    height: 550px;
    .home-team-l-bg {
      position: relative;
      top: 260px;
      height: 300px;
      .home-team-text {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 3px;
        & p {
          margin-bottom: 16px;
          text-align: center;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.85);
        }
        & p:last-child {
          margin-bottom: 40px;
        }
        & > img {
          display: none;
        }
      }
    }

    & img {
      width: 100%;
      position: relative;
      top: -460px;
    }
    .home-title {
      font-size: 52px;
      letter-spacing: 6px;
      font-weight: bold;
      margin-bottom: 50px;
      position: relative;
      .home-team-desc {
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > p {
          margin-bottom: 16px;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.85);
        }
      }
    }
    .home-team-bottom{
      width: 500px;
      height: 300px;
      .home-team-bg{
        width: 100px;
        height: 100px;
      }
    }
  }
}
