.team_act_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 80%;
  height: 320px;
  font-family: 'DIN Alternate', sans-serif;

  .team_act_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
  }

  .title {
    font-weight: 500;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: .8px;
  }

  .team_act_text_area {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 26px;
  }

  .team_act_text {
    display: flex;
    width: 100%;
    min-height: 240px;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 16px;
  }
}
