.team-act-wrapper {
  width: 80%;
  height: 320px;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  .team-act-img {
    width: calc(25vw);
  }
  .team-act-trail {
    margin-left: 10px;
    margin-right: 20px;
    height: calc(17vw);
  }
  .team-act-text {
    display: flex;
    height: calc(17vw);
    flex-direction: column;
    .team-act-text-1 {
      font-size: calc(1.5vw);
    }
    .team-act-text-2 {
      font-size: calc(2.1vw);
    }
    .team-act-text-3 {
      font-size: calc(1vw);
      margin-left: 8px;
      white-space: nowrap;
    }
    .team-act-text-4 {
      margin-top: 10px;
      font-size: calc(1.2vw);
      line-height: calc(1.5vw);
      white-space: pre;
    }
  }
}
