@media (max-width: 767px) {
  .home-prod-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .home-prod-left {
      height: 300px;
      width: 100%;
      text-align: center;
      & > img {
        width: 300px;
      }
    }
    .home-prod-right {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      margin-top: 36px;
      padding-bottom: 20px;
      .home-title {
        font-size: 52px;
        letter-spacing: 6px;
        font-weight: bold;
        margin-bottom: 50px;
        position: relative;
        .home-prod-tailling-s {
          color: #FAFCFF;
          position: absolute;
          bottom: -10px;
          right: -12px;
          z-index: -1;
        }
      }
      .home-prod-desc {
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        letter-spacing: 3px;
        & > p {
          font-size: 16px;
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .home-prod-wrapper {
    background-color:#FAFCFF;
    height: 100%;
    width: 1100px;
    display: flex;
    .home-prod-left {
      height: 100%;
      width: 650px;
      position: relative;
      & > img {
        width: 700px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .home-prod-right {
      width: 424px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 20px;
      .home-title {
        font-size: 70px;
        letter-spacing: 10px;
        font-weight: bold;
        margin-bottom: 72px;
        position: relative;
        .home-prod-tailling-s {
          position: absolute;
          bottom: -10px;
          right: -12px;
          z-index: -1;
        }
      }
      .home-prod-desc {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        & > p{
          font-size: 16px;
          // letter-spacing: 2px;
          margin-bottom: 16px;
        }
      }
    }
  }

}