@media (min-width: 768px) {
  .blog-wrapper {
    height: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fafcff;
    .blog-header-wrapper {
      display: fixed;
      margin-top: 0px;
      width: 100%;
      height: 70px;
    }
    .blog-title-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      .blog-title-circle1 {
        display: flex;
        align-self: flex-start;
        margin-top: -100px;
      }
      .blog-title-circle2 {
        display: flex;
        margin-top: 20px;
      }
      .blog-title-circle3 {
        display: flex;
        align-self: flex-start;
        margin-top: 150px;
      }
      .blog-title-text1 {
        display: flex;
        height: 40%;
        font-size: 50px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .blog-title-text2 {
        display: flex;
        height: 20%;
        font-size: 15px;
        padding-bottom: 10px;
      }
      .blog-title-text3 {
        height: 10%;
        display: flex;
        font-size: 15px;
        padding-bottom: 10px;
      }
      .blog-title-circle4 {
        display: flex;
        align-self: flex-start;
        padding-left: 200px;
      }
      .blog-title-circle5 {
        display: block;
        padding-left: 350px;
      }
    }
    .blog-content-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 1200px;
    }
    .blog-footer-wrapper {
      display: flex;
      width: 100%;
      height: 200px;
    }
  }
}
