@media (min-width: 768px) {
  .team-wrapper {
    height: 2600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    .team-header-wrapper {
      display: fixed;
      z-index: 100;
      margin-top: 0px;
      width: 100%;
      height: 56px;
    }
    .team-slider-wrapper {
      display: relative;
      width: calc(1);
      height: 660px;
    }
    .team-content-rectangle {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
    }
    .team-content-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 900px;
      background-color: #ffffff;
      .team-content-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 22px;
      }
      .team-content-actcard-left {
        display: flex;
        margin-top: 50px;
        background-color: #f4f4f5;
        width: 80%;
        height: 318px;
        img {
          width: 687px;
          height: 318px;
          margin: 0;
          padding: 0;
        }
        div {
          display: flex;
          width: 40%;
          align-items: center;
          justify-content: center;
          font-size: 45px;
        }
      }
      .team-content-actcard-right {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: #f4f4f5;
        width: 80%;
        height: 318px;
        img {
          width: 687px;
          height: 318px;
          margin: 0;
          padding: 0;
        }
        div {
          display: flex;
          flex-direction: column;
          width: 40%;
          align-items: center;
          justify-content: center;
          font-size: 45px;
        }
      }
      & > img {
        margin: 10px 0;
        height: 1px;
      }
    }

    .c-wrapper {
      width: 100%;
      height: 560px;
      background-color: #f4f4f5;
      .c-content-act{
        display: flex;
        
      }
    }

    .team-footer-wrapper {
      display: flex;
      width: 100%;
      height: 800px;
    }
  }
}
