@media (min-width: 768px) {
  .team-wrapper {
    height: 1600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f4f4f5;
    .team-header-wrapper {
      display: fixed;
      margin-top: 0px;
      width: 100%;
      height: 70px;
    }
    .team-slider-wrapper {
      display: relative;
      width: 100%;
      height: 800px;
    }
    .team-content-rectangle {
      width: 100%;
      height: 50px;
      background-color: #ffffff;
    }
    .team-content-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 1000px;
      background-color: #ffffff;
      .team-content-title1 {
        font-size: 22px;
      }
      & > img {
        margin: 10px 0;
        height: 1px;
      }
    }
    .team-footer-wrapper{
      display: flex;
      width: 100%;
      height: 800px;
    }
  }
}
