@media (max-width: 767px) {
  .bold-btn {
    font-family: "DIN Alternate", sans-serif;
    height: 36px;
    padding: 5px;
    border: 3px solid #2e2e2e;
    color: #2e2e2e;
    border-radius: 14px;
    letter-spacing: 2px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
  }

  .bold-btn:hover {
    border: 3px solid #1b8ff4;
    color: #1b8ff4;
  }
}

@media (min-width: 768px) {
  .bold-btn {
    font-family: "DIN Alternate", sans-serif;
    height: 40px;
    padding: 10px;
    border: 3px solid #2e2e2e;
    color: #2e2e2e;
    border-radius: 14px;
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
  }

  .bold-btn:hover {
    cursor: pointer;
    border: 3px solid #1b8ff4;
    color: #1b8ff4;
  }
}
